<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <h2>Departamentos</h2>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Exportar Excel" icon="pi pi-upload" class="p-button-warning" (click)="dt.exportCSV()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="departamentos" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['depar_Id','depar_Descripcion']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [(selection)]="selectedDepartamentos" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="depar_Id">Codigo <p-sortIcon field="depar_Id"></p-sortIcon></th>
                        <th pSortableColumn="depar_Descripcion">Departamento <p-sortIcon field="depar_Descripcion"></p-sortIcon></th>
                        
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-departamento>
                    <tr>
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Codigo</span>
                            {{departamento.depar_Id}}
                        </td>
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Departamento</span>
                            {{departamento.depar_Descripcion}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" label="Editar" (click)="editDepartamento(departamento)"></button>
                                <button pButton pRipple icon="pi pi-ellipsis-h"  class="p-element p-ripple p-button-rounded p-button-info p-button p-component mr-2" label="Detalles" routerLink="detalle/{{departamento.depar_Id}}"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" label="Eliminar" (click)="deleteDepartamento(departamento)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="departamentoDialog" [style]="{width: '450px'}" header="Detalles de Departamento" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content" class="col-12">
                    <div class="p-formgrid grid">
                        <div class="field col-6" *ngIf="nuevodept">
                            <label for="depar_Id">Codigo</label>
                            <input type="text" pInputText id="depar_Id" [(ngModel)]="departamento.depar_Id" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted &&!departamento.depar_Id}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted &&!departamento.depar_Id">El codigo es requerido.</small>
                        </div>
                        <div [ngClass]="{'field col-6': nuevodept, 'field col-12':!nuevodept}">
                            <label for="depar_Descripcion">Departamento</label>
                            <input type="text" pInputText id="depar_Descripcion" [(ngModel)]="departamento.depar_Descripcion" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !departamento.depar_Descripcion}"/>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !departamento.depar_Descripcion">Departamento es requerida.</small>
                        </div>
                    </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveDepartamento()"></button>
            </ng-template>
        </p-dialog>
        
        <p-dialog [(visible)]="deletedepartamentoDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="departamento">¿Estas seguro que deseas eliminar <b>{{departamento.depar_Descripcion}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletecategoriaDialog = false" ></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
