<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <h2>Categorias</h2>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()" ></button>
                        <button pButton pRipple label="Exportar Excel" icon="pi pi-warning" class="p-button-help" (click)="dt.exportCSV()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="categorias" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['categ_Descripcion']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando { first} a {last} de {totalRecords} registros" [(selection)]="selectedCategorias" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        
                        <th pSortableColumn="categ_Descripcion">Categoria <p-sortIcon field="categ_Descripcion"></p-sortIcon></th>
                        
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-categoria>
                    <tr>

                        <td style="width:14%; min-width:20rem;">
                            <span class="p-column-title">Categoria</span>
                            {{categoria.categ_Descripcion}}
                        </td>
                       
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" label="Editar" (click)="editCategoria(categoria)"> </button>
                                <button pButton pRipple icon="pi pi-ellipsis-h"  class="p-element p-ripple p-button-rounded p-button-info p-button p-component mr-2" label="Detalles" routerLink="detalle/{{categoria.categ_Id}}"> </button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"(click)="deleteCategoria(categoria)" label="Eliminar"> </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="categoriaDialog" [style]="{width: '450px'}" header="Detalles de Categoria" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="categ_Descripcion">Categoria</label>
                    <input type="text" pInputText id="categ_Descripcion" [(ngModel)]="categoria.categ_Descripcion" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !categoria.categ_Descripcion}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !categoria.categ_Descripcion">Categoria es requerida.</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveCategoria()"></button>
            </ng-template>
        </p-dialog>
        
        <p-dialog [(visible)]="deletecategoriaDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="categoria">¿Estas seguro que deseas eliminar <b>{{categoria.categ_Descripcion}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletecategoriaDialog = false" ></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
