<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <h2>Lotes</h2>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()" ></button>
                        <button pButton pRipple label="Exportar Excel" icon="pi pi-warning" class="p-button-help" (click)="dt.exportCSV()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="lotes" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['lotes_FechaVencimiento', 'lotes_Cantidad', 'produ_Descripcion', 'sucur_Descripcion']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [(selection)]="selectedLotes" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="lotes_FechaVencimiento">Fecha vencimiento <p-sortIcon field="lotes_FechaVencimiento"></p-sortIcon></th>
                        <th pSortableColumn="lotes_Cantidad">Cantidad <p-sortIcon field="lotes_Cantidad"></p-sortIcon></th>
                        <th pSortableColumn="produ_Descripcion">Producto <p-sortIcon field="produ_Descripcion"></p-sortIcon></th>
                        <th pSortableColumn="sucur_Descripcion">Sucursal <p-sortIcon field="sucur_Descripcion"></p-sortIcon></th>
                        
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lote>
                    <tr>
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Fecha vencimiento</span>
                            {{lote.lotes_FechaVencimiento}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Cantidad</span>
                            {{lote.lotes_Cantidad}}
                        </td>
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Producto</span>
                            {{lote.produ_Descripcion}}
                        </td>
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Sucursal</span>
                            {{lote.sucur_Descripcion}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" (click)="editLote(lote)" label="Editar"> </button>
                                <button pButton pRipple icon="pi pi-ellipsis-h"  class="mr-2 p-element p-ripple p-button-rounded p-button-info p-button p-component" label="Detalles" routerLink="detalle/{{lote.lotes_Id}}"> </button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"(click)="deleteLote(lote)" label="Eliminar"> </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="loteDialog" [style]="{width: '450px'}" header="Lote" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content" class="col-12">
               
                <div class="p-formgrid grid">
                    <div class="field col-6">
                        <label for="produid">Producto</label>
                        <p-dropdown [(ngModel)]="produid" optionValue="produ_Id"  required [ngClass]="{'ng-invalid ng-dirty' : submitted &&  !lote.produ_Id}" [options]="productos" optionLabel="produ_Descripcion" placeholder="Seleccione"></p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !lote.produ_Id">El producto es requerido.</small>
                    </div>
                    <div class="field col-6">
                        <label for="lotes_FechaVencimiento">Fecha de vencimiento</label>
                        <span class="p-float-label">
                            <p-calendar
                                inputId="calendar"
                                [(ngModel)]="fecha"
                                optionValue="lotes_FechaVencimiento"
                            ></p-calendar>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !lote.lotes_FechaVencimiento">Fecha de vencimiento es requerida.</small>
                        </span>
                    </div>
                   
                </div>
                <div class="p-formgrid grid">
                   
                    <div class="field col-6">
                        <label for="lotes_Cantidad">Cantidad</label>
                        <input type="number" pInputText id="lotes_Cantidad" [(ngModel)]="lote.lotes_Cantidad" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !lote.lotes_Cantidad}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !lote.lotes_Cantidad">Cantidad es requerida.</small>
                    </div>
                    
                    <div class="field col-6">
                        <label for="sucurid">Sucursal</label>
                        <p-dropdown [(ngModel)]="sucurid" optionValue="sucur_Id"  required [ngClass]="{'ng-invalid ng-dirty' : submitted &&  !lote.sucur_Id}" [options]="sucursales" optionLabel="sucur_Descripcion" placeholder="Seleccione"></p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !lote.sucur_Id">La sucrusal es requerida.</small>
                    </div>
                </div>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveLote()"></button>
            </ng-template>
        </p-dialog>
        
        <p-dialog [(visible)]="deleteloteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="lote">¿Estas seguro que deseas eliminar el registro?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteloteDialog = false" ></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
