<div class="grid">
	<div class="col-12 md:col-12">
		<div class="card p-fluid">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Detalles</h5>
                <div>
                    <button routerLink="usuario" pButton type="button" label="Regresar" icon="pi pi-arrow-left" class="p-element p-ripple p-button-outlined p-button-success p-button p-component"></button>
                </div>
            </div>
            
            <div *ngIf="usuario">
                <div class="p-formgrid grid">

                    <div class="field col">
                        <label><b>Usuario</b></label>
                        <p>{{usuario.usuar_Usuario}}</p>
                    </div>
                    <div class="field col">
                        <label><b>Correo</b></label>
                        <p>{{usuario.usuar_Correo}}</p>
                    </div>
                    <div class="field col">
                        <label><b>Empleado</b></label>
                        <p>{{usuario.perso_NombreCompleto}}</p>
                    </div>
                </div>
				<div class="p-formgrid grid">
                    <div class="field col">
                        <label><b>Administrador</b></label>
                        <p>{{usuario.esadmin}}</p>
                    </div>
                    <div class="field col">
                        <label><b>Rol</b></label>
                        <p>{{usuario.roles_Descripcion}}</p>
                    </div>
                    
                </div>
              
            </div>
           
            <div class="card p-fluid">
                <h5>Auditoria</h5>
    
                <p-table #dt [value]="usuarioss" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['usuarioCreacion','usuarioModificacion', 'usuar_FechaCreacion', 'usuar_FechaModificacion']"  [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
                    
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                              Accion
                            </th>
                            <th style="width: 3rem">
                                Usuario
                            </th>
                              <th style="width: 3rem">
                                Fecha
                              </th>
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-usuario>
                        <tr>
                            <td style="width:14%; min-width:20rem;">
                                Creador
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ usuario.usuarioCreacion }}
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ usuario.usuar_FechaCreacion }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:14%; min-width:20rem;">
                                Modificador
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ usuario.usuarioModificacion }}
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ usuario.usuar_FechaModificacion }}
                            </td>
                        </tr>
                    </ng-template>
                    
                    
                </p-table>
            
        </div>
        </div>
        
    </div>
    <div class="col-12 md:col-12">
		
</div> 

<!--  -->