<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <h2>Usuarios</h2>

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button routerLink="insertar" pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" ></button>
                        <button pButton pRipple label="Exportar Excel" icon="pi pi-upload" class="p-button-warning" (click)="dt.exportCSV()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="usuarios" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['usuar_Usuario', 'usuar_Correo', 'perso_NombreCompleto', 'roles_Descripcion', 'administrador']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [(selection)]="selectedUsuarios" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="usuar_Usuario">Usuario <p-sortIcon field="usuar_Usuario"></p-sortIcon></th>
                        <th pSortableColumn="usuar_Correo">Correo <p-sortIcon field="usuar_Correo"></p-sortIcon></th>
                        <th pSortableColumn="perso_NombreCompleto">Persona <p-sortIcon field="perso_NombreCompleto"></p-sortIcon></th>
                        <th pSortableColumn="roles_Descripcion">Rol <p-sortIcon field="roles_Descripcion"></p-sortIcon></th>
                        <th pSortableColumn="administrador">Administrador <p-sortIcon field="administrador"></p-sortIcon></th>
                        
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Usuario</span>
                            {{usuario.usuar_Usuario}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Correo</span>
                            {{usuario.usuar_Correo}}
                        </td>
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Persona</span>
                            {{usuario.perso_NombreCompleto}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Rol</span>
                            {{usuario.roles_Descripcion}}
                        </td>
                        <td style="width:14%; min-width:12rem;">
                            <span class="p-column-title">Administrador</span>
                            {{usuario.administrador}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" label="Editar" routerLink="editar/{{usuario.usuar_Id}}"></button>
                                <button pButton pRipple icon="pi pi-ellipsis-h"  class="p-element p-ripple p-button-rounded p-button-info p-button p-component mr-2" label="Detalles" routerLink="detalle/{{usuario.usuar_Id}}"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" label="Eliminar" (click)="deleteUsuario(usuario)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="deleteusuarioDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="usuario">¿Estas seguro que deseas eliminar <b>{{usuario.usuar_Usuario}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteusuarioDialog = false" ></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
