<div class="grid">
	<div class="col-12 md:col-12">
        <div class="card p-fluid">
             <p-toast></p-toast>
			<h5>Editar producto</h5>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="produ_Descripcion">Producto</label>
                        <input type="text" pInputText id="produ_Descripcion" [(ngModel)]="producto.produ_Descripcion" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !producto.produ_Descripcion}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !producto.produ_Descripcion">El producto es requerido.</small>
                    </div>
                    <div class="field col">
                        <label for="produ_Existencia">Existencia</label>
                        <input type="text" pInputText id="produ_Existencia" [(ngModel)]="producto.produ_Existencia" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !producto.produ_Existencia}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !producto.produ_Existencia">La existencia es requerida.</small>
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="produ_PrecioCompra">Precio Compra</label>
                        <input type="text" pInputText id="produ_PrecioCompra" [(ngModel)]="producto.produ_PrecioCompra" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !producto.produ_PrecioCompra}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !producto.produ_PrecioCompra">El precio de compra es requerido.</small>
                    </div>
                    <div class="field col">
                        <label htmlFor="produ_PrecioVenta">Precio Venta</label>
                        <input type="text" pInputText id="produ_PrecioVenta" [(ngModel)]="producto.produ_PrecioVenta" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !producto.produ_PrecioVenta}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !producto.produ_PrecioVenta">El precio de venta es requerido.</small>				
                    </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label htmlFor="emple_PrimerApellido">Categoria</label>
                        <p-dropdown [options]="categorias" 
                        optionLabel="categ_Descripcion" 
                        optionValue="categ_Id" 
                        (onChange)="onCategIdChange($event.value)" 
                        [(ngModel)]="categid">
                      </p-dropdown> 
                     </div>
                    <div class="field col">
                        <label htmlFor="emple_SegundoApellido">Sub-Categoria</label>
                        <p-dropdown [options]="subcategorias" 
                        optionLabel="subca_Descripcion" 
                        optionValue="subca_Id" 
                        (onChange)="onSubcaIdChange($event.value)" 
                        [(ngModel)]="subcaid">
                      </p-dropdown> 
                      </div>
                </div>
                <div class="p-formgrid grid">
                    <div class="field col">
                        <label for="emple_Telefono">Proveedor</label>
                        <p-dropdown [options]="proveedores" 
                        optionLabel="prove_Marca" 
                        optionValue="prove_Id" 
                        (onChange)="onProveIdChange($event.value)" 
                        [(ngModel)]="proveid">
                      </p-dropdown>                      
                    </div>
                    <div class="field col">
                        <label for="emple_Telefono">Impuesto</label>
                        <p-dropdown [options]="impuestos" 
                        optionLabel="impue_Descripcion" 
                        optionValue="impue_Id" 
                        (onChange)="onImpueIdChange($event.value)" 
                        [(ngModel)]="impueid">
                      </p-dropdown>                      
                    </div>
                </div>
               
			
            <div class="flex flex-wrap gap-2">   
                <div class="field col">
                </div>
                <div class="field col">
                               
                </div>
                <div class="field col">
                </div>  
                <div class="field col">
                   <button pButton pRipple label="Guardar" icon="pi pi-plus" class="p-button-success mr-2" (click)="guardar()"></button>

                </div>  
               
               <div class="field col">
                   <button routerLink="empleado" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-secondary mr-2" ></button>
               
               </div>
            </div>
	    </div>
        
    </div>
</div>