.payment-method-icons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
 
    width: 100%;
}

.payment-method-icons button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #6b7280;
}

.payment-method-icons button.selected {
    background-color: #e2c8c8;
    
    border-color: #C8B6B6;
}

.payment-method-icons button i {
    font-size: 18px;
}