<div class="card">
<div class="grid p-fluid">
    <div class="field col-12 md:col-2">
        <button pButton type="button" label="Mostrar todas" icon="pi pi-arrow-left" class="p-element p-ripple p-button-outlined p-button-success p-button p-component"></button>

    </div>
    <div class="field col-12 md:col-3">
        <span class="p-float-label">
            <p-dropdown
                inputId="dropdown"
                [autoDisplayFirst]="false"
                [options]="sucursales"
                [(ngModel)]="sucursalid"
                optionLabel="sucur_Descripcion"
                (onChange)="onSucursalChange($event.value)"
            ></p-dropdown>
            <label for="dropdown">Sucursal</label>
        </span>
    </div>
    <div class="field col-12 md:col-3">
        <span class="p-float-label">
            <p-calendar
                inputId="calendar"
                [(ngModel)]="inicio"
                (onSelect)="onFechaChange('inicio', $event)"
            ></p-calendar>
            <label for="calendar">Fecha Inicio</label>
        </span>
    </div>
    <div class="field col-12 md:col-4">
        <span class="p-float-label">
            <p-calendar
                inputId="calendar"
                [(ngModel)]="fin"
                (onSelect)="onFechaChange('fin', $event)"
            ></p-calendar>
            <label for="calendar">Fecha Fin</label>
        </span>
    </div>

    <div class="col-12 lg:col-6">
        
        <div class="card">
            <h5>Total ventas</h5>
            <p-chart type="line" [data]="lineData" [options]="lineOptions"></p-chart>
        </div>

        
        <div class="card flex flex-column align-items-center">
            <h5 class="text-left w-full">Categorias mas vendidas</h5>
            <p-chart type="pie" [data]="pieData" [options]="pieOptions"></p-chart>
        </div>

    </div>
    <div class="col-12 lg:col-6">
        <div class="card">
            <h5>Sub-Categorias mas vendidas</h5>
            <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
        </div>
        <div class="card flex flex-column align-items-center">
            <h5 class="text-left w-full">Cantidad de existencia de productos</h5>
            <p-chart type="doughnut" [data]="siData" [options]="pieOptions"></p-chart>
        </div>
        

       

        <!-- <div class="card flex flex-column align-items-center">
            <h5 class="text-left w-full">Radar Chart</h5>
            <p-chart type="radar" [data]="radarData" [options]="radarOptions"></p-chart>
        </div> -->
    </div>
</div>
</div>