<div class="grid">
  <div class="col-12 md:col-12">
    <div class="card p-fluid">
      <p-toast></p-toast>
      <h5>Nuevo producto</h5>
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="produ_Descripcion">Descripción</label>
          <input
            type="text"
            pInputText
            id="produ_Descripcion"
            [(ngModel)]="producto.produ_Descripcion"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !producto.produ_Descripcion
            }" />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !producto.produ_Descripcion"
            >La descripción es requerida.</small
          >
        </div>
        <div class="field col">
          <label for="produ_Existencia">Existencia</label>
          <input
            type="number"
            pInputText
            id="produ_Existencia"
            [(ngModel)]="producto.produ_Existencia"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !producto.produ_Existencia
            }" />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !producto.produ_Existencia"
            >La existencia es requerida.</small
          >
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="produ_PrecioCompra">Precio de compra</label>
          <input
            type="number"
            pInputText
            id="produ_PrecioCompra"
            [(ngModel)]="producto.produ_PrecioCompra"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !producto.produ_PrecioCompra
            }" />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !producto.produ_PrecioCompra"
            >El precio de compra es requerido.</small
          >
        </div>
        <div class="field col">
          <label for="produ_PrecioVenta">Precio de venta</label>
          <input
            type="number"
            pInputText
            id="produ_PrecioVenta"
            [(ngModel)]="producto.produ_PrecioVenta"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !producto.produ_PrecioVenta
            }" />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !producto.produ_PrecioVenta"
            >El precio de venta es requerido.</small
          >
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label htmlFor="impue_Id">Impuesto</label>
          <p-dropdown
            [options]="impuestos"
            placeholder="--Seleccione--"
            optionLabel="impue_Descripcion"
            (onChange)="onImpuestoIdChange($event.value)"
            [(ngModel)]="impuestoid"
            required
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !producto.impue_Id
            }"></p-dropdown>
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !producto.impue_Id"
            >El impuesto es requerido.</small
          >
        </div>

        <div class="field col">
          <label for="prove_Id">Proveedor</label>
          <p-dropdown
            [options]="proveedores"
            placeholder="--Seleccione--"
            optionLabel="prove_Marca"
            (onChange)="onProveedorIdChange($event.value)"
            [(ngModel)]="proveedorid"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !producto.prove_Id
            }"></p-dropdown>
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !producto.prove_Id"
            >El proveedor es requerido.</small
          >
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="field col">
          <label for="categ_Id">Categoría</label>
          <p-dropdown
            [options]="categorias"
            placeholder="--Seleccione--"
            optionLabel="categ_Descripcion"
            (onChange)="onCategIdChange($event.value)"
            [(ngModel)]="categoriaid"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !producto.categ_Id
            }"></p-dropdown>
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !producto.categ_Id"
            >La categoría es requerida.</small
          >
        </div>
        <div class="field col">
          <label htmlFor="subca_Id">Subcategoría</label>
          <p-dropdown
            [options]="subcategoriasFiltro"
            placeholder="--Seleccione--"
            optionLabel="subca_Descripcion"
            (onChange)="onSubcategoriaIdChange($event.value)"
            [(ngModel)]="subcategoriaid"
            required
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !producto.subca_Id
            }"></p-dropdown>
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !producto.subca_Id"
            >La subcategoría es requerida.</small
          >
        </div>
      </div>

      <div class="flex flex-wrap gap-2">
        <div class="field col"></div>
        <div class="field col"></div>
        <div class="field col"></div>
        <div class="field col">
          <button
            pButton
            pRipple
            label="Guardar"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="guardar()"></button>
        </div>

        <div class="field col">
          <button
            [routerLink]="['/home/pages/producto']"
            pButton
            pRipple
            label="Cancelar"
            icon="pi pi-times"
            class="p-button-secondary mr-2"></button>
        </div>
      </div>
    </div>
  </div>
</div>
