<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <h2>Promociones</h2>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" ></button>
                        <button pButton pRipple label="Exportar Excel" icon="pi pi-upload" class="p-button-warning" (click)="dt.exportCSV()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="promociones" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['promo_Descripcion', 'promo_Porcentaje','promo_PuntosRequeridos','produ_Descripcion']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [(selection)]="selectedPromociones" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="promo_Descripcion">Promocion <p-sortIcon field="promo_Descripcion"></p-sortIcon></th>
                        <th pSortableColumn="promo_Porcentaje">Porcentaje <p-sortIcon field="promo_Porcentaje"></p-sortIcon></th>
                        <th pSortableColumn="promo_PuntosRequeridos">Puntos requeridos<p-sortIcon field="promo_PuntosRequeridos"></p-sortIcon></th>
                        <th pSortableColumn="produ_Descripcion">Producto <p-sortIcon field="produ_Descripcion"></p-sortIcon></th>
                        
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-promocion>
                    <tr>
                        
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Promocion</span>
                            {{promocion.promo_Descripcion}}
                        </td>
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Porcentaje</span>
                            {{promocion.promo_Porcentaje}}
                        </td>
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Puntos requeridos</span>
                            {{promocion.promo_PuntosRequeridos}}
                        </td>
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Producto</span>
                            {{promocion.produ_Descripcion}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" label="Editar"></button>
                                <button pButton pRipple icon="pi pi-ellipsis-h"  class="p-element p-ripple p-button-rounded p-button-info p-button p-component mr-2" label="Detalles" routerLink="detalle/{{promocion.promo_Id}}"> </button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" label="Eliminar"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>
