<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <h2>Clientes</h2>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button routerLink="insertar" pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" ></button>
                        <button pButton pRipple label="Exportar Excel" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="clientes" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['clien_Dni', 'nombre', 'clien_Telefono','estad_Descripcion','sexo','clien_Direccion','munic_Descripcion']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [(selection)]="selectedClientes" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="clien_Dni">DNI <p-sortIcon field="clien_Dni"></p-sortIcon></th>
                        <th pSortableColumn="clien_NombreCompleto">Cliente <p-sortIcon field="clien_NombreCompleto"></p-sortIcon></th>
                        <th pSortableColumn="clien_Telefono">Telefono <p-sortIcon field="clien_Telefono"></p-sortIcon></th>
                        <th pSortableColumn="clien_Direccion">Direccion <p-sortIcon field="clien_Direccion"></p-sortIcon></th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cliente>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">DNI</span>
                            {{cliente.clien_Dni}}
                        </td>
                        <td style="width:14%; min-width:20rem;">
                            <span class="p-column-title">Cliente</span>
                            {{cliente.clien_NombreCompleto}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Telefono</span>
                            {{cliente.clien_Telefono}}
                        </td>
                      
                    
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Direccion</span>
                            {{cliente.clien_Direccion}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2" label="Editar" routerLink="editar/{{cliente.clien_Id}}"></button>
                                <button pButton pRipple icon="pi pi-ellipsis-h"  class="p-element p-ripple p-button-rounded p-button-info p-button p-component" label="Detalles" routerLink="detalle/{{cliente.clien_Id}}"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" label="Eliminar" (click)="deleteCliente(cliente)"> </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        
        <p-dialog [(visible)]="deleteclienteDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="cliente">¿Estas seguro que deseas eliminar <b>{{cliente.clien_NombreCompleto}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteclienteDialog = false" ></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
