<div class="grid">
	<div class="col-12 md:col-12">
		<div class="card p-fluid">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Detalles</h5>
                <div>
                    <button routerLink="lote" pButton type="button" label="Regresar" icon="pi pi-arrow-left" class="p-element p-ripple p-button-outlined p-button-success p-button p-component"></button>
                </div>
            </div>            
            <div *ngIf="lote">
                <div class="p-formgrid grid">

                    <div class="field col">
                        <label><b>ID</b></label>
                        <p>{{lote.lotes_Id}}</p>
                    </div>
                    <div class="field col">
                        <label><b>Producto</b></label>
                        <p>{{lote.produ_Descripcion}}</p>
                    </div>
                    <div class="field col">
                        <label><b>Cantidad</b></label>
                        <p>{{lote.lotes_Cantidad}}</p>
                    </div>
                </div>
                <div class="p-formgrid grid">

                    <div class="field col">
                        <label><b>Fecha de vencimiento</b></label>
                        <p>{{lote.lotes_FechaVencimiento}}</p>
                    </div>
                    <div class="field col">
                        <label><b>Sucursal</b></label>
                        <p>{{lote.sucur_Descripcion}}</p>
                    </div>
                    <div class="field col">
                    </div>
                </div>
				
            </div>
            <div class="card p-fluid">
                <h5>Auditoria</h5>
    
                <p-table #dt [value]="lotess" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['usuarioCreacion','usuarioModificacion', 'lotes_FechaCreacion', 'lotes_FechaModificacion']" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
                  
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                              Accion
                            </th>
                            <th style="width: 3rem">
                                Usuario
                            </th>
                              <th style="width: 3rem">
                                Fecha
                              </th>
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-lote>
                        <tr>
                            <td style="width:14%; min-width:20rem;">
                                Creador
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ lote.usuarioCreacion }}
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ lote.lotes_FechaCreacion }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:14%; min-width:20rem;">
                                Modificador
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ lote.usuarioModificacion }}
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ lote.lotes_FechaModificacion }}
                            </td>
                        </tr>
                    </ng-template>
                    
                    
                </p-table>
            
        </div>
        </div>

        
        
    </div>
    <div class="col-12 md:col-12">
		
</div> 

