<!--cd y ruta
ng new nombreproyecto
ng serve --open

cada tabla 
ng g c prueba/list-->

<div class="card">
    <h3>listado prueba</h3>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>rol</th>
                    <th>acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ="let prub of prueba">
                    <td>{{prub.role_Id}}</td>
                    <td>{{prub.role_Descripcion}}</td>
                    <td>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 