<div class="grid">
	<div class="col-12 md:col-12">
		<div class="card p-fluid">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Detalles</h5>
                <div>
                    <button routerLink="promocion" pButton type="button" label="Regresar" icon="pi pi-arrow-left" class="p-element p-ripple p-button-outlined p-button-success p-button p-component"></button>
                </div>
            </div>            
            <div *ngIf="promocion">
                <div class="p-formgrid grid">

                    <div class="field col">
                        <label><b>ID</b></label>
                        <p>{{promocion.promo_Id}}</p>
                    </div>
                    <div class="field col">
                        <label><b>Producto</b></label>
                        <p>{{promocion.produ_Descripcion}}</p>
                    </div>
                    <div class="field col">
                        <label><b>Cantidad</b></label>
                        <p>{{promocion.promo_Cantidad}}</p>
                    </div>
                </div>
                <div class="p-formgrid grid">

                    <div class="field col">
                        <label><b>Fecha de vencimiento</b></label>
                        <p>{{promocion.promo_FechaVencimiento}}</p>
                    </div>
                    <div class="field col">
                        <label><b>Sucursal</b></label>
                        <p>{{promocion.sucur_Descripcion}}</p>
                    </div>
                    <div class="field col">
                    </div>
                </div>
				
            </div>
            <div class="card p-fluid">
                <h5>Auditoria</h5>
    
                <p-table #dt [value]="promocionss" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['usuarioCreacion','usuarioModificacion', 'promo_FechaCreacion', 'promo_FechaModificacion']" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
                  
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                              Accion
                            </th>
                            <th style="width: 3rem">
                                Usuario
                            </th>
                              <th style="width: 3rem">
                                Fecha
                              </th>
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-promocion>
                        <tr>
                            <td style="width:14%; min-width:20rem;">
                                Creador
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ promocion.usuarioCreacion }}
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ promocion.promo_FechaCreacion }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:14%; min-width:20rem;">
                                Modificador
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ promocion.usuarioModificacion }}
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ promocion.promo_FechaModificacion }}
                            </td>
                        </tr>
                    </ng-template>
                    
                    
                </p-table>
            
        </div>
        </div>

        
        
    </div>
    <div class="col-12 md:col-12">
		
</div> 

