<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <div class="my-2">
              <button
                routerLink="insertar"
                pButton
                pRipple
                label="Nuevo"
                icon="pi pi-plus"
                class="p-button-success mr-2"></button>
              <button
                pButton
                pRipple
                label="Eliminar"
                icon="pi pi-trash"
                class="p-button-danger"></button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <p-fileUpload
            mode="basic"
            accept="image/*"
            [maxFileSize]="1000000"
            label="Import"
            chooseLabel="Import"
            class="mr-2 inline-block"></p-fileUpload>
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [value]="productos"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="[
          'produ_Descripcion',
          'produ_Existencia',
          'produ_PrecioCompra',
          'produ_PrecioVenta',
          'subca_Descripcion',
          'prove_Marca',
          'impue_Descripcion'
        ]"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedProductos"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id">
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Administrar Productos</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Search..."
                class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="produ_Descripcion">
              Producto <p-sortIcon field="produ_Descripcion"></p-sortIcon>
            </th>
            <th pSortableColumn="produ_Existencia">
              Existencia <p-sortIcon field="produ_Existencia"></p-sortIcon>
            </th>
            <th pSortableColumn="produ_PrecioCompra">
              Precio compra <p-sortIcon field="produ_PrecioCompra"></p-sortIcon>
            </th>
            <th pSortableColumn="produ_PrecioVenta">
              Precio venta <p-sortIcon field="produ_PrecioVenta"></p-sortIcon>
            </th>
            <th pSortableColumn="subca_Descripcion">
              Subcategoria <p-sortIcon field="subca_Descripcion"></p-sortIcon>
            </th>
            <th pSortableColumn="prove_Marca">
              Proveedor <p-sortIcon field="prove_Marca"></p-sortIcon>
            </th>
            <th pSortableColumn="impue_Descripcion">
              Impuesto <p-sortIcon field="impue_Descripcion"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
          <tr>
            <td>
              <p-tableCheckbox [value]="producto"></p-tableCheckbox>
            </td>
            <td style="width: 14%; min-width: 15rem">
              <span class="p-column-title">Producto</span>
              {{ producto.produ_Descripcion }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Existencia</span>
              {{ producto.produ_Existencia }}
            </td>
            <td style="width: 14%; min-width: 12rem">
              <span class="p-column-title">Precio compra</span>
              {{ producto.produ_PrecioCompra }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Precio venta</span>
              {{ producto.produ_PrecioVenta }}
            </td>
            <td style="width: 14%; min-width: 15rem">
              <span class="p-column-title">Subcategoria</span>
              {{ producto.subca_Descripcion }}
            </td>
            <td style="width: 14%; min-width: 15rem">
              <span class="p-column-title">Proveedor</span>
              {{ producto.prove_Marca }}
            </td>
            <td style="width: 14%; min-width: 15rem">
              <span class="p-column-title">Impuesto</span>
              {{ producto.impue_Descripcion }}
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  routerLink="editar/{{ producto.produ_Id }}">
                  Editar
                </button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-ellipsis-h"
                  class="p-element p-ripple p-button-rounded p-button-info p-button p-component"
                  routerLink="detalle/{{ producto.produ_Id }}">
                  Detalles
                </button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteProducto(producto)">
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-dialog
      [(visible)]="deleteProductDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="producto"
          >¿Estas seguro que deseas eliminar
          <b>{{ producto.produ_Descripcion }}</b
          >?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteproductoDialog = false"></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
