<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <h2>Proveedores</h2>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" ></button>
                        <button pButton pRipple label="Exportar Excel" icon="pi pi-upload" class="p-button-warning" (click)="dt.exportCSV()"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="proveedores" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['prove_Marca', 'contacto', 'prove_Correo','prove_Telefono','prove_Notas','prove_Direccion']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [(selection)]="selectedProveedores" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="prove_Marca">Proveedor <p-sortIcon field="prove_Marca"></p-sortIcon></th>
                        <th pSortableColumn="contacto">Contacto <p-sortIcon field="contacto"></p-sortIcon></th>
                        <th pSortableColumn="prove_Correo">Correo <p-sortIcon field="prove_Correo"></p-sortIcon></th>
                        <th pSortableColumn="prove_Telefono">Telefono <p-sortIcon field="prove_Telefono"></p-sortIcon></th>
                        <th pSortableColumn="prove_Notas">Nota <p-sortIcon field="prove_Notas"></p-sortIcon></th>
                        <th pSortableColumn="prove_Direccion">Direccion <p-sortIcon field="prove_Direccion"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-proveedor>
                    <tr>
                    
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Proveedor</span>
                            {{proveedor.prove_Marca}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Contacto</span>
                            {{proveedor.contacto}}
                        </td>
                        <td style="width:14%; min-width:12rem;">
                            <span class="p-column-title">Correo</span>
                            {{proveedor.prove_Correo}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Telefono</span>
                            {{proveedor.prove_Telefono}}
                        </td>
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Nota</span>
                            {{proveedor.prove_Notas}}
                        </td>
                        <td style="width:14%; min-width:15rem;">
                            <span class="p-column-title">Direccion</span>
                            {{proveedor.prove_Direccion}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" label="Editar"></button>
                                <button pButton pRipple icon="pi pi-ellipsis-h"  class="p-element p-ripple p-button-rounded p-button-info p-button p-component mr-2" label="Detalles" routerLink="detalle/{{proveedor.prove_Id}}"> </button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" label="Eliminar"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>
