<div class="grid">
	<div class="col-12 md:col-12">
		<div class="card p-fluid">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Detalles</h5>
                <div>
                    <button routerLink="categoria" pButton type="button" label="Regresar" icon="pi pi-arrow-left" class="p-element p-ripple p-button-outlined p-button-success p-button p-component"></button>
                </div>
            </div>
            
            <div *ngIf="categoria">
                <div class="p-formgrid grid">

                    <div class="field col">
                        <label><b>ID</b></label>
                        <p>{{categoria.categ_Id}}</p>
                    </div>
                    <div class="field col">
                        <label><b>Categoria</b></label>
                        <p>{{categoria.categ_Descripcion}}</p>
                    </div>
                </div>
				
            </div>
            
            <div class="card p-fluid">
                <h5>Auditoria</h5>
    
                <p-table #dt [value]="categoriass" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['usuarioCreacion','usuarioModificacion', 'categ_FechaCreacion', 'categ_FechaModificacion']" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true" dataKey="id">
                    
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                              Accion
                            </th>
                            <th style="width: 3rem">
                                Usuario
                            </th>
                              <th style="width: 3rem">
                                Fecha
                              </th>
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-categoria>
                        <tr>
                            <td style="width:14%; min-width:20rem;">
                                Creador
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ categoria.usuarioCreacion }}
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ categoria.categ_FechaCreacion }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:14%; min-width:20rem;">
                                Modificador
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ categoria.usuarioModificacion }}
                            </td>
                            <td style="width:14%; min-width:20rem;">
                                {{ categoria.categ_FechaModificacion }}
                            </td>
                        </tr>
                    </ng-template>
                    
                    
                </p-table>
            
        </div>
        </div>
        
        
    </div>
    <div class="col-12 md:col-12">
		
</div> 

